/* Margin around buttons */
button {
    margin: 15px 0;
}

/* Each grid item needs to specify height and width */
.grid-item {
    width: 100%;
    height: 400px;
}

/* Scroll the canvas where the settings are rendered */
.grid-item .grid-item-settings-canvas {
    /* overflow: scroll; */
    height: 100%;
}

/* Components to hide initially */
#results-row,
#update-settings-button {
    display: none;
}

.editor {
    display: none;
}